.btn{
    display: inline-flex;
    line-height: 1.4;
    color: #FFFFFF;
    padding: 20px 70px;
    background-image: linear-gradient(to right, #35C66B 0%, #237249 100%);
    border-radius: 83px;
    border: none;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: all 0.5s ease-in;
    @media (any-hover: hover) {    
        &:hover {
            box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.2);
            
        }
      }
}
