.main {
    overflow: hidden;
    &__container {
        display: flex;
        flex-direction: column;
        row-gap: 155px;
        position: relative;
    }
    padding-top: 220px;
    &__info {
        display: flex;
        column-gap: 155px;
        p {
            padding-top: 54px;
        }
    }
    &__btns {
        display: flex;
        flex-direction: row;
        column-gap: 15px;
        padding-top: 54px;
        .btn{
            display: block;
            line-height: 1.4;
            color: #FFFFFF;
            padding: 20px 70px;
            background-image: linear-gradient(to right, #35C66B 0%, #237249 100%);
            border-radius: 83px;
            border: none;
            font-size: 24px;
            font-family: 'Montserrat', sans-serif;
            cursor: pointer;
        }
        a {
            color: #D9D9D9;
            font-size: 24px;
            padding: 20px 55px;
            border: 1px solid transparent;
            border-radius: 83px;   
            text-align: center;
            background: linear-gradient(#121517, #121517 0) padding-box,
            linear-gradient(to bottom, rgb(217, 217, 217), rgb(23, 30, 36)) border-box;
            cursor: pointer;
            transition: all 0.5s ease-in;
            @media (any-hover: hover) {    
                &:hover {
                    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.2);
                    
                }
            }
            }
        }
    &__pic { 
        position: relative;
        &::before {
            content: '';
            background-image: url('../../img/main/Ellipse 2.png');
            background-size: contain; 
            background-repeat: no-repeat;
            position: absolute;
            left: 10px;
            top: 205px;
            z-index: -1;
            width: 600px;
            height: 600px;  
        } 
        &::after {
            content: url('../../img/main/Ellipse 1.png');
            position: absolute;
            left: -150px;
            top: -90px;
            z-index: -1;    
        }
    }
    &__cup { 
        position: relative;  
        img {
            width: 100%;
            display: block;
        }
    }   
    &__dec {
        position: absolute;
        right: -233px;
        top: 170px;
        z-index: -1;
        width: 809px;
        img {
          max-width: 100%;    
        }
    }
    &__discont {
        position: absolute;
        left: 200px;
        top: -70px;
        width: 260px;
        img {
            max-width: 100%;   
        }
    }
    @media (max-width: 1150.98px) {
        &__info {
            column-gap: 15px;
            p {
                padding-top: 36px;
            }
        }
        h1 {
            font-size: 60px;
        }
        &__btns {
            padding-top: 36px;
        }
    }
    @media (max-width: 997.98px) {
        &__info {
            flex-direction: column-reverse;
            row-gap: 43px;
        }
        &__cup { 
            max-width: 650px;
            margin: 0 auto;
            
        }  
        &__dec {
            right: -28px;
            top: 350px;
        }
        &__discont {
            left: 400px;
        }
        &__pic {
            &::before {
                left: 153px;
                top: 320px;
            }
        }
        .card-list{
            &::before {
                left: 113px;
                top: -72px;
            }
            &::after {
                left: -230px;
                top: -192px;
            }
            &__wrap {
                flex-direction: column;
                max-width: 350px;
                row-gap: 36px;
                margin: 0 auto;
            }    
        } 
    }
    @media (max-width: 575.98px) {
        padding-top: 150px;
        &__container {
            row-gap: 63px;
        }
        &__info {
            row-gap: 20px;
            p {
                font-size: 12px;
            }
        }
        &__dec {
            right: -23px;
            top: 105px;
            max-width: 500px;
        }
        &__cup { 
            max-width: 350px;
            min-width: 270px;
            
        } 
        &__discont {
            display: none;
        }
        &__pic {
            &::before {
                left: -10px;
                top: -10px;
            }
            &::after {
                content: '';
                position: absolute;
                width: 120px;
                height: 120px;
                background-image: url('../../img/main/starAdd.png');
                background-size: contain;
                left: 270px;
                top: -25px;
                z-index: 1;
            }
        }
        h1 {
            font-size: 48px;
        }
        .counter {
            padding-top: 36px;
            column-gap: 30px;
            &__value {
                font-size: 42px;
            }
        }
        &__btns {
            a {
                padding: 13px 40px;
            }
        }
        .btn {
            padding: 13px 50px;
        }
        .card-list {
            &::before {
                left: 293px;
                top: -48px;
                width: 120px;
                height: 120px;
            }
            &::after {
                display: none;
            }
            &__wrap {
                max-width: 220px;
                padding: 20px 40px;
                row-gap: 23px;
            }
            &__icon {
                min-height: auto;
            }
            &__title {
                font-size: 18px;
                margin-bottom: 0px;
                margin-top: 10px;
            }
            &__text {
                font-size: 12px;
            }

        }
    }
    @media (max-width: 485.98px) {
        &__btns {
            flex-direction: column;
            row-gap: 20px;
            align-items: center;
        }
        .counter {
            &__title {
                font-size: 15px;
            }
            &__value {
                font-size: 36px;
            }
        }
    }
    @media (max-width: 425.98px) {
        &__pic{
            &::after {
                left: 195px;
            }
        }
        .card-list {
            &::before {
                left: 240px;
            }
        }
    }
    @media (max-width: 365.98px) {
        &__wrap {
            p > br {
                display: none;
              }
        }
        &__pic{
            &::after {
                left: 165px;
            }
        }
        .card-list {
            &::before {
                left: 175px;
            }
        }
    }
    @media (max-width: 320.98px) {
        h1 {
            font-size: 40px;
        }
        .btn {
            font-size: 20px;
        }
    }
}
    